fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings
python-multipart
python-jose[cryptography]
bcrypt
python-dotenv
psycopg2-binary
google-api-python-client
google-auth
google-cloud-storage
langchain-core
langchain-community
langchain-google-genai
langchain-pinecone
langchain-text-splitters
langgraph
pinecone-client
pypdf
pytest
cryptography
httpx